/* Font family font-family: 'Open Sans', sans-serif;
 */
 .font_roboto {
     font-family: 'Roboto', sans-serif;
}
 .font_opensans {
     font-family: 'Open Sans', sans-serif;
}
.sentinel {
    background-color: #1e2021;
}
 #header.header-fixed {
     background: #20272e;
     padding: 20px 0;
     height: 72px;
     transition: all 0.5s;
}
 .sentinel #logo {
     display: inline-block;
    margin-top: -2px;
}
 .sentinel .token_head {
     margin-bottom: 20px;
}.sentinel .wallet_list li div {
   height: 60px;
    margin: auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 52px;
    background: url(../img/desktop_wallet_icons.png);
}
.sentinel .wallet_list #apple {
    transition: all 0.5s ease-in-out;
    background-position: 0px 0px;
}
.sentinel .wallet_list #windows {
    transition: all 0.5s ease-in-out;
        background-position: -64px 0px;
}
.sentinel .wallet_list #linux {
    transition: all 0.5s ease-in-out;
   background-position: 52px 0px;
}
.sentinel .footer_list li a {
    float: left;
    height: 48px;
    overflow: hidden;
    text-indent: -9999px;
    width: 48px;
    background: url(../img/social_sprite.png);
}
.sentinel .footer_list #github {
    transition: all 0.5s ease-in-out;
    background-position: 0px 0px;
}
.sentinel .footer_list #telegram {
    transition: all 0.5s ease-in-out;
    background-position: -61px 0px;
}
.sentinel .footer_list #twitter {
    transition: all 0.5s ease-in-out;
    background-position: -122px 0px;
}
.sentinel .footer_list #facebook {
    transition: all 0.5s ease-in-out;
    background-position: -183px 0px;
}
 .sentinel .first_section {
	
	display: table;
    width: 75%;
	margin:auto;
    height: 100vh;
    background: url(../img/map.png) top center;
    background-size: cover;
	     margin-top: 70px;
}
 .sentinel #header {
     padding: 30px 0;
         height: 127px;
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
     transition: all 0.5s;
     z-index: 997;
}
 .sentinel .logo {
     width: 100%;
}
 .sentinel .first_section_div{
    
    display: table-cell;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
}
 .sentinel .main_head {
     font-weight: 400;
     line-height: 1.2;
	 color:#ececec;
	 font-size: 36pt;
}
 .sentinel .sky_blue_color a {
     text-decoration: underline;
     color:#80defb;
}
.sentinel .sky_blue_color a:hover {
     text-decoration: underline;
     color:#00a2ff;
}
 .sentinel .first_sectiontitle {
     color: #2796e9;
     background: -webkit-linear-gradient(#2796e9, #88a3b7);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
 .sentinel .btn_submit {
     border: 1px solid transparent;
     border-image: linear-gradient(to right, #2796e9 0%, #88a3b7 100%);
     border-image-slice: 1;
     background: transparent;
     padding: 10px 40px;
}
 .sentinel .border-with-grad {
     position: relative;
     height: 50px;
     width: 230px;
     color: white;
     font-size: 12px;
     display: inline-block;
     line-height: 50px;
     text-align: center;
}
 .sentinel .border-with-grad svg {
     position: absolute;
     top: 0px;
     left: 0px;
     height: 100%;
     width: 100%;
}
.sentinel .activity_list {
	font-size: 14pt;
	color: #f3f3f3;
	font-weight: 400;
}
.sentinel .activity_count {
	font-size: 36pt;
}
 .sentinel .cls-1 {
     fill: transparent;
    stroke-linejoin: round;
    stroke-opacity: 0.85;
    stroke-width: 3px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    fill-rule: evenodd;
     stroke: url(#linear-gradient);
}
.sentinel .cls-1:hover {
     fill: #1c2836;
}

 .sentinel .main_head_sub {
     color: #d2d2d2;
     line-height: 1.5;
     margin-top: 30px;
	 font-size: 16pt;
     font-weight: 400;
}
 .sentinel .signup_section {
         margin-top: 45px;
}
 .sentinel .email_id {
     width: 270px;
     height: 50px;
     display: inline-block;
     border-radius: 2px;
}
 .sentinel .sign_up {
    font-size: 14px;
	position: relative;
    right: 0;
	cursor: pointer;
	display: inline-block;
    left: 0;
    margin: auto;
}
.sentinel .list_subhead {
	font-size: 16pt;
}
.sentinel .list_subhead.li_headit {
	color: #cfcfcf;
}
.sentinel .border-with-grad:hover .cls-1 {
	fill: #1c2836;
}
 .sentinel .darkcolor {
     color: #43474b;
     font-weight: 400;
}
 .sentinel .skyblue_color {
     color: #2787e3;
}
 .sentinel .second_section {
     background: #d1d9e2;
     padding: 50px 0;
     position: relative;
     padding-bottom: 400px;
}
 .sentinel .img_block {
     display: inline-block;
}
 .sentinel .second_section_list {
     width: 40%;
     margin: auto;
     float: left;
     display: inline-block;
}
 .second_section_list.right_side {
     float: right;
}
 .sentinel .second_section_list_sub {
     padding-top: 80px;
}
 .sentinel .blue_color {
     color: #11375d;
     font-weight: 400;
}
.sentinel .blue_color_head {
     color: #11375d;
	 font-size: 30pt;
	     font-weight: 400;
}
 .sentinel .sub_headp {
     color: #66778e;
     margin-bottom: 0;
     line-height: 2.5;
	 font-size: 14pt;
     font-weight: 400;
}
 .sentinel .fo_secmargin {
     margin-bottom: 25px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
    font-size: 30pt;
}
.sentinel .li_headit.sky_blue_color.text_hover a:hover {
	color:#00a2ff;
}
.sentinel .subint.li_headit {
	color: #cfcfcf;
	font-size: 16pt;
}
 .sentinel .section_head {
         font-size: 30pt;
}
.sentinel .aside_section {
	margin: 35px 0;
}
 .sentinel .footer .second_section_list_sub {
     padding: 70px;
}
 .sentinel .hit_bc {
     padding-top: 50px;
}
 .sentinel .token_infodistri {
        padding: 100px 0;
     color: #fff;
}
/* News letter css starts here */
/* Arrow css starts here */
 .arrow, .arrow:before {
     position: absolute;
     left: 50%;
}
 .arrow {
     cursor: pointer;
     width: 40px;
     height: 40px;
     bottom: 35px;
     margin: -20px 0 0 -20px;
     -webkit-transform: rotate(45deg);
     border-left: none;
     border-top: none;
     border-right: 2px #fff solid;
     border-bottom: 2px #fff solid;
}
 .arrow:before {
     content: "";
     width: 20px;
     height: 20px;
     top: 50%;
     margin: -10px 0 0 -10px;
     border-left: none;
     border-top: none;
     border-right: 1px #fff solid;
     border-bottom: 1px #fff solid;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     animation-name: arrow;
}
 @keyframes arrow {
     0% {
         opacity: 1;
    }
     100% {
         opacity: 0;
         transform: translate(-10px, -10px);
    }
}
/* Arrow css Ends here */
 .sentinel .news_letter {
     font-size:36pt;
     font-family:'Roboto', sans-serif;
     text-align:center;
     color: #1b4672;
     margin-top:0px;
     margin-bottom:23px;
}
.sentinel .news_letter h1 {
	margin-top:0;
}
 .sentinel .sentinel_news_letter {
     background: #c6d0db;
	     padding: 80px 0;
}
 .sentinel .news {
     color:#3192dd;
}
 .sentinel .news_text {
     text-align:center;
     font-size:18px;
     font-family:Open Sans;
     margin-bottom:48px;
}
 .sentinel .news_text h3 {
     font-size: 18pt;
     color: #07172d;
}
 .sentinel .news_submit {
     padding: 15px 50px;
     background: #2787e3;
     border: 0;
     margin-left: 20px;
     border-radius: 30px;
}
 .sentinel .email {
     width:40%;
     display:inline-block;
}
 .sentinel .form {
     text-align:center;
     margin-bottom:0px;
}
 .form input[type="text"] {
     height:55px;
     width:330px;
     text-align: center;
}
 .form .btn_width {
     padding: 18px 40px;
     border-radius: 37px 
}
/* News letter css ends here */
/* Road map css start here */
 .sentinel .background_img {
     position:relative;
}
 .sentinel .footer_content {
     position:absolute;
     text-align:center;
}
 .sentinel .background_img img {
     width:100%;
}
 .sentinel .foot_logo img {
     width:10%;
     position:absolute;
     top:0px;
}
 .sentinel .roadmap {
     background:#d1d9e2;
     font-family:Open Sans;
}
 .sentinel .sant_roodmap {
     margin:158px 0px 150px 0px;
}
 .sentinel .sant_roodmap h1{
     text-align:center;
}
 .sentinel .devp {
     color:#3192dd;
}
 .sentinel .circle {
     text-align:center;
}
 .sentinel .circle_data {
     text-align:center;
     position:relative;
     left:80px;
     margin-bottom:50px;
     padding: 0px 20px 0px -24px;
}
 .sentinel .circle_data_info {
     padding-top:23px;
}
 .sentinel .circle_data_info {
     text-align:center;
     position:relative;
     left:80px;
}
 .sentinel .circle {
     margin-bottom:50px;
}
 .sentinel .circle_data h2 {
     font-size:24px;
     font-family: Roboto Regular;
}
 .sentinel .top_space {
     padding-top:22px;
}
 .sentinel .bottom_space {
     margin-bottom:235px;
}
/* Road map css ends here */
/* Mvp Client Css */
 .sentinel .background {
     background:#c6d0db;
}
 .sentinel .nopadding {
     padding:0px;
}
 .sentinel .download_mvc_section h2 {
     text-align: center;
     font-weight: 400;
     padding: 220px 0px 35px 0px;
}
.sentinel .wallet_list{
     text-align: center;
     width: 100%;
     margin: 0 auto;
     list-style-type: none;
     padding: 0;
	 padding-top: 40px;
}
.sentinel .git_hubsource {
	color: #252525;
    font-size: 18pt;
    margin: 50px 0 75px;
}
.sentinel .link_github {
	color: #09537b;
	text-decoration: underline;
}
 .sentinel .wallet_list li{
     display: inline-block;
     text-align: center;
     line-height: 50px;
     margin: 5px;
     cursor: pointer;
     padding: 0px;
}
.sentinel .wallet_des {
	border: 1px solid rgba(13, 44, 75, 0.8);
    color: #0d2c4b;
    padding: 10px 25px;
    border-radius: 15px;
	margin: 35px 0 0 0;
	
}
 .sentinel .blue_text {
     background: -webkit-linear-gradient(#05cdff , #0678d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 .sentinel .section_icons {
     text-align:center;
}
 .sentinel .window {
     display:inline-block;
}
 .sentinel .peng {
     display:inline-block;
}
 .sentinel .section_icons ul li {
     padding:0px 28px 0px 28px;
     list-style:none;
     display:inline-block;
     text-align:center;
     margin:auto;
}
 .sentinel .icons {
     margin-bottom: 20px;
}
 .sentinel .dowload_clientsoftware a{
     color:#000;
     text-decoration: underline 
}
 .sentinel .dowload_clientsoftware h3{
     font-weight: 400;
}
 .sentinel .dowload_clientsoftware {
     margin: 40px 0 100px 0;
}
 .sentinel .windows_client h3 {
     text-align:center;
     color:#000000;
     text-decoration: underline;
     font-family:Open Sans;
     margin-bottom:42px;
     font-size:24px;
}
 .sentinel .linux_client h3 {
     text-align:center;
     color:#000000;
     text-decoration: underline;
     font-family:Open Sans;
     margin-bottom:104px;
     font-size:24px;
}
/* Mvp Client Css Ends*/
/* Github Activity section starts here */
 .sentinel ul.tiles {
     text-align: center;
     width: 85%;
     margin: 0 auto;
     list-style-type: none;
     padding: 0;
}
 .sentinel ul.tiles h2 {
     color: #d1d9e2;
     margin: 0;
     font-weight: 400;
}
 .sentinel ul.tiles li {
     display: inline-block;
     background: transparent;
     text-align: center;
     line-height: 50px;
     margin: 0px;
     padding: 30px 50px;
}
 .sentinel ul.tiles li h1{
     margin-top:0px;
     background: -webkit-linear-gradient(#77bdd6, #7cacbd);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     color: #77bdd6;
}
 .sentinel .github_activity {
     background: #22282f;
     color: #fff;
     text-align: center;
     padding: 50px 0 55px 0;
}
 .sentinel .github_des {
     font-weight:400;
     margin: 0;
}
/* Github Activity section Ends here */
/* Trust less design css starts here */
 .sentinel .heading_vpn {
     margin-top: 40px;
	     font-size: 22pt;
     font-weight: 400;
}
 .sentinel .sentinel_img {
     position: absolute;
     right: 0;
     left: 0;
     margin: auto;
     bottom: -200px;
}
/* Trust less design css ends here */
/* Token Info and Distribution css starts here */
 .sentinel .fourth_section {
     background: #272e36;
}
/* Token Info and Distribution css Ends here */
/* Roadmap css starts here */
 .sentinel .fifth_section {
     background: #22282f;
}
 .sentinel .roadmap_head {
     margin-top: 0;
     font-weight: 400;
	 font-size: 30pt;
}
 .sentinel .roadmap_sectionhead h5{
     font-weight: 400;
    font-size: 16pt;
    color: #cfcfcf;
    margin-top: 25px;
}
/* Roadmap css ends here */
/* development roadmap starts here */
 .sentinel .sub_heading_main {
     margin-top: 50px;
     font-family:'Roboto', sans-serif;
}
 .sentinel .sky_blue_color {
     color: #80defb;
}
/* development roadmap ends here */
/* Footer section css starts here */
 .sentinel .footer_list{
     text-align: center;
     width: 85%;
     margin: 0 auto;
     list-style-type: none;
     padding: 0;
}
 .sentinel .footer_list li{
     display: inline-block;
     text-align: center;
     line-height: 50px;
     margin: 5px;
     cursor: pointer;
     padding: 0px;
}
 .sentinel .footer_section {
     background: #171819;
     padding: 30px 0;
}
 .sentinel .copyright {
     color: #b6b6b6;
     margin-top: 10px;
     margin-bottom: 0;
     font-size: 12pt;
}
 .sentinel .nav-menu.footer_list{
     text-align: center;
    float: right;
    width: auto;
    margin-top: -66px;
    list-style-type: none;
    padding: 0;
}
/* Footer section css ends here */
 /* @media screen and (min-width:1400px) {
     .sentinel .first_section_div {
         width: 100%;
         margin: auto;
    }
     .sentinel .main_head {
         font-weight: 400;
         line-height: 1.2;
         font-size: 3vw;
    }
     .sentinel .main_head_sub {
         font-size: 1vw;
    }
}
 @media screen and (min-width:769px) and (max-width:1200px) {
     .sentinel .first_section_div {
         width: 60%;
         margin: auto;
    }
     .sentinel .main_head {
         font-weight: 400;
         line-height: 1.2;
         font-size: 3vw;
    }
     .sentinel .main_head_sub {
         font-size: 1.2vw;
    }
     .sentinel .first_section_div {
         position: relative;
    }
     .sentinel .first_section_div {
         width: 70%;
    }
     .sentinel .first_section {
         padding: 130px 0;
         padding-bottom: 40px;
    }
     .sentinel .arrow {
         display: none;
    }
     .sentinel .first_section_div {
         width: 90%;
         margin: auto;
         position: relative;
    }
     .sentinel .main_head_sub {
         font-size: 16px;
    }
} */
 @media screen and (max-width:768px) {
     .sentinel .nav-menu.footer_list {
         float: none;
         margin-top: 15px;
		 
    }
	.sentinel .first_section {
		width: 100%;
		    margin-top: 130px;
	}
     .sentinel #logo {
         display: block;
    }
     .sentinel .arrow {
         display: none;
    }
	.sentinel .subint.li_headit {
		font-size: 12pt;
	}
     .sentinel .first_section_div {
         margin: auto;
         position: relative;
         padding: 0 15px;
         padding-bottom: 25px;
    }
     .sentinel .signup_section {
         margin-top: 25px;
    }
     .sentinel .border-with-grad {
         margin-top: 25px;
    }
     .sentinel #header {
             height: 90px;
			 height: 150px;
    }
     .sentinel .logo {
        width: 170px;
         margin: auto;
    }
     .sentinel .github_activity {
         padding: 25px 0 55px 0;
    }
     .sentinel ul.tiles h2 {
         font-size: 22px;
		margin-bottom: 10px;
    }
	.sentinel .blue_color_head {
		font-size: 22px;
		line-height: 1.5;
		margin: 0;
	}
	.sentinel .wallet_list {
		padding: 0;	
	}
	.sentinel .section_icons ul li {
		padding: 28px 15px 0px 0px;
	}
	.sentinel .wallet_des {
		font-size: 14px;
	}
	.sentinel .token_infodistri {
		padding: 50px 0;
	}
	
	.sentinel .git_hubsource {
		font-size: 12pt;
		margin: 35px 0 50px;
	}
	.sentinel .main_head_sub {
		font-size: 14pt;
	}
	.sentinel ul.tiles {
		width: 100%;
	}
     .sentinel .main_head {
         font-size: 24px;
    }
     .sentinel ul.tiles li {
         padding: 10px 15px;
    }
     .sentinel .github_des {
         width: 80%;
         margin: auto;
         font-size: 16px;
         line-height: 1.5;
    }
     .sentinel .github_activity {
         padding: 25px 0 30px 0;
    }
     .sentinel .darkcolor {
         font-size: 20px;
         line-height: 1.5;
         margin: 0;
    }
     .sentinel .second_section {
         background: #d1d9e2;
         padding: 25px 0;
         position: relative;
         padding-bottom: 400px;
    }
     .sentinel .second_section_list_sub {
         padding-left: 0;
         padding-right: 0;
         padding-top: 25px 
    }
     .sentinel .second_section_list {
         width: 100%;
    }
     .sentinel .heading_vpn {
         margin-top: 25px;
         font-size: 18px;
    }
     .sentinel .sub_headp {
         line-height: 2;
         font-size: 14px;
    }
     .sentinel .sentinel_img {
         position: absolute;
         right: 0;
         left: 0;
         margin: auto;
         bottom: -80px;
         width: 200px;
    }
     .sentinel .second_section {
         background: #d1d9e2;
         padding: 25px 0;
         padding-bottom: 25px;
         position: relative;
         padding-bottom: 140px;
    }
     .sentinel .download_mvc_section h2 {
        padding: 100px 0px 0px 0px;
    }
     .sentinel .icons {
         margin-bottom: 20px;
         margin-left: 0;
         padding-left: 0;
    }
     .sentinel .dowload_clientsoftware h3 {
         font-weight: 400;
         font-size: 20px;
    }
     .sentinel .fo_secmargin {
         font-size: 22px;
    }
     .sentinel .roadmap_head {
         margin-top: 0;
         font-weight: 400;
         font-size: 22px;
		 line-height: 1.3;
    }
	.sentinel .list_subhead {
		font-size: 12pt;
	}
	.sentinel .sentinel_news_letter {
		padding: 50px 0;
		line-height: 1.5;
	}
	.sentinel .news_letter h1 {
		font-size: 20px;
		line-height: 1.5;
	}
	.sentinel .roadmap_sectionhead h5 {
		font-size: 12pt;
		line-height: 1.5;
	}
     .sentinel .news_letter h1 {
         font-size: 20px;
    }
     .sentinel .news_text h3 {
         font-size: 16px;
    }
     .form input[type="text"] {
         height: 55px;
         width: 280px;
         text-align: center;
         display: block;
         margin: auto;
    }
     .sentinel .news_submit {
         margin-top: 25px;
         margin-left: 0;
    }
}
@media screen and (min-width:769px) and (max-width:1300px){
	.sentinel .logo {
			width: 75%;
	}
	.sentinel .main_head {
		font-size: 28pt;
	}
	.sentinel .first_section {
		margin-top: 70px;
		width: 90%;
	}
	.sentinel .main_head_sub {
		font-size: 14pt;
	}
	.sentinel ul.tiles li {
		padding: 30px 20px;
	}
	.sentinel .section_head {
		font-size: 26pt;
	}
	.sentinel .blue_color_head {
		font-size: 26pt;
	}
	.sentinel .heading_vpn {
		font-size: 16pt;
	}
	.sentinel .section_icons ul li {
		padding: 28px 15px 0px 0px;
	}
	.sentinel #header {
		padding: 30px 0;
		height: 100px;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		transition: all 0.5s;
		z-index: 997;
	}
	.sentinel .nav-menu.footer_list {
		text-align: center;
		float: right;
		width: auto;
		margin-top: -60px;
		list-style-type: none;
		padding: 0;
	}
	
}
@media screen and (min-width:1400px) { 
		.sentinel .main_head {
			font-size: 42pt;
		}
		.sentinel .fo_secmargin {
			font-size: 36pt;
		}
		.sentinel .first_section {
			margin-top: 0;
		}
}
.sentinel .padding_none {
	padding:0px;
}
.sentinel a:hover, .sentinel a:focus {
    color: transparnt;
    text-decoration: none;
}